body {
background-color:black;
background-image:url("resource/books.png");
color:white;
}

.centered{
margin-left:auto;
margin-right:auto;
}

.login-form{
margin-top:8%;
padding:10px;
border: 2px solid white;
border-radius: 25px;
width:10%;
background-color:rgba(0, 0, 0, 0.8);
}

.login-form-row{
display:block;
margin-bottom:15px;
}

.error-message{
text-align:center;
margin-top:20px;
color:red;
}